---
import HeroSection from '../components/HeroSection.astro';
import Service from '../components/Service.astro';
import ServiceDetails from '../components/ServiceDetails.astro';
import TechSkills from '../components/TechSkills.astro';

import Layout from '../layouts/BaseLayout.astro';

const tech = ['react', 'redux', 'tailwind'];

const SERVICES = [
  {
    id: 'website',
    img: '/src/assets/website.png',
    title: 'A better way to ship your projects ',
    description:
      'Esse id magna consectetur fugiat non dolor in ad laboris magna laborum  ea consequat. Nisi irure aliquip nisi adipisicing veniam voluptate id. In veniam incididunt ex veniam adipisicing sit.',
    tech: [
      {
        title: 'react',
      },
      {
        title: 'redux',
      },
      {
        title: 'tailwind',
      },
    ],
  },

  {
    id: 'webapp',
    img: '/src/assets/dashboard.png',
    title: 'A better way to ship your projects ',
    description:
      'Esse id magna consectetur fugiat non dolor in ad laboris magna laborum  ea consequat. Nisi irure aliquip nisi adipisicing veniam voluptate id. In veniam incididunt ex veniam adipisicing sit.',
    tech: [
      {
        title: 'react',
      },
      {
        title: 'redux',
      },
      {
        title: 'tailwind',
      },
    ],
  },
];
---

<Layout title="Weloc">
  <!-- <section class="min-h-screen"></section>
    <section class="min-h-screen"></section> -->
  <!-- <section class="min-h-screen"></section> -->
  <!-- sticky top-[10vh]  -->
  <section class="flex min-h-screen items-center justify-center">
    <HeroSection />
  </section>

  {
    SERVICES.map((service, index) => (
      <Service id={service.id} img={service.img} right={index % 2 !== 0}>
        <ServiceDetails
          title={service.title}
          description={service.description}
          tech={service.tech}
        />
      </Service>
    ))
  }

  <!-- <section data-gsap="section" class="min-h-screen"><Service /></section> -->
  <section class="min-h-screen">
    <TechSkills
      skills={[
        {
          row: [
            {
              title: 'Lindsay Walton ',
              img: 'https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
            },
            {
              title: 'Lindsay Walton ',
              img: 'https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
            },
            {
              title: 'Lindsay Walton ',
              img: 'https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
            },
          ],
        },
        {
          row: [
            {
              title: 'Lindsay Walton ',
              img: 'https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
            },
            {
              title: 'Lindsay Walton ',
              img: 'https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
            },
            {
              title: 'Lindsay Walton ',
              img: 'https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
            },
          ],
        },
        {
          row: [
            {
              title: 'Lindsay Walton ',
              img: 'https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
            },
            {
              title: 'Lindsay Walton ',
              img: 'https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
            },
            {
              title: 'Lindsay Walton ',
              img: 'https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80',
            },
          ],
        },
      ]}
    />
  </section>
  <section class="min-h-screen"></section>
</Layout>

<script></script>
